body {
    background-color: rgb(0, 0, 0);
    font-family: Arial;
}

.js-result {
    min-height: 50px;
}

.text {
    color: white;
    font-size: 30px;
}

.header {
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.calculatorButton {
    color: white;
    background-color: rgb(46, 46, 46);
    border: none;
    font-size: 30px;
    width: 75px;
    height: 75px;
    border-radius: 60px;
    padding: 10px 15px;
    margin-top: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.calculatorMathsInput {
    color: white;
    background-color: orange;
    border: none;
    font-size: 30px;
    width: 75px;
    height: 75px;
    border-radius: 60px;
    padding: 10px 15px;
    margin-top: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.calculatorClearButton {
    color: white;
    background-color: rgb(46, 46, 46);
    border: none;
    font-size: 20px;
    width: 75px;
    height: 75px;
    border-radius: 60px;
    padding: 10px 15px;
    margin-top: 5px;
    margin-right: 10px;
    cursor: pointer;
}